---
layout: default
---

<div class="container">
	<section id="title-header" class="row">
		<div class="ribbon">
			<h1> Con una nueva Ley de Probidad </h1>
			<h3> promovemos la transparencia y evitamos los conflictos de interés </h3>
		</div>
	</section>

	<section id="persons" class="row">
		<div class="text-center"><h2>Twitteale a los miembros de la comisión para que aprueben la Ley de Probidad:</h2></div>
			 {% for person in site.persons %}
			<div class="col-md-2 col-sm-6">
			    <div class="thumbnail">
			      <img src="{{ person.img }} " alt="{{ person.name }} ">
			      <div class="caption">
			        <h4>{{ person.name }} </h4>
			        <a target="_blank" href="{{ person.twitter_url }}&text=Otra%20frase%20marquetera"><i class="fa fa-twitter"></i> Twitteale</a>
			      </div>
			    </div>
			  </div>
		   {% endfor %}
	</section>

		<section id="faq" class="row">
			{% include accordion.html %}
		</section>

	<div>
		<iframe src="http://candideit.org/dtejada/test-de-probidad-que-tan-probo-eres/medianaranja/embeded" style="width: 100%; height: 632px;" height="800" frameborder="0" scrolling="no"> </iframe>
	</div>
</div>