<div class="preguntas col-md-6 col-sm-12">
	<a class="btn btn-primary" data-toggle="collapse" href="#info-probidad" aria-expanded="false" aria-controls="collapseExample">
	  <h3>¿Qué se entiende por Probidad?</h3>
	</a>
	<div class="collapse" id="info-probidad">
	  <div class="well">
	    La Probidad puede definirse como la honradez, rectitud e integridad en el actuar. En el ámbito público, la Probidad es la obligación de los funcionarios de desempeñarse en forma honesta y tener una conducta éticamente intachable, entregándose por entero y en forma leal al desempeño de su cargo, haciendo prevalecer el interés público sobre el privado.
	  </div>
	</div>
</div>

<div class="preguntas col-md-6 col-sm-12">
	<a class="btn btn-primary" data-toggle="collapse" href="#info-datosabiertos" aria-expanded="false" aria-controls="collapseExample">
	  <h3>¿Por qué reformar la Ley de Probidad?</h3>
	</a>
	<div class="collapse" id="info-datosabiertos">
	  <div class="well">
	    El perfeccionamiento de la Ley de Probidad es fundamental para prevenir el surgimiento de conflictos de interés, mejorar la transparencia y el acceso a la información pública, y sancionar actitudes que atenten con la conducta ética establecida. Estas reformas se tornan urgentes considerando la necesidad actual de evitar la corrupción al interior del Estado.
	  </div>
	</div>
</div>
