<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
            <p>Sitio desarrollado por: <a href="http://ciudadanointeligente.org/" target="_blank"><img src="{{site.baseurl}}/img/logo-ciudadanoi.png" width="200"></a></p>
        </div>
        <div class="col-md-6 text-center footer-info">
            <a href="tel:{{site.phone}}">{{site.phone}} </a> | {{site.address}} | <a href="mailto:{{site.email}}">Mail contacto</a>
        </div>
      </div>
  </div>
</footer>
