.title-header {
	text-align: center;
	h2, h3 {
		font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
	}
}

.banner-footer {
	background-color: grey;
	min-height: 200px;
	text-align: center;
	h4 {
		color: black;
		font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
	}
}

footer {
	background-color: #000;
	color: #fff;
	min-height: 220px;
	padding-top: 20px;
	a {
		color: red;
	} 
	.footer-info {
		padding-top: 40px;
	}
}