
body {
	background-color: #224383;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #FFFFFF;
}

.center {
	margin: 0 auto;
}

h1 {
	font-size: 61px;
	color: #FFFFFF;
	font-weight: 600;
	font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
}

h2 {
	font-size: 40px;
	color: #FFFFFF;
	font-weight: 200;
	font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
	margin: 30px 0;
}

h3 {
	font-size: 36px;
	font-weight: 600;
	color: #FFFFFF;
	font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
}

h4 {
	color: #1C3973;
	font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
	font-size: 24px;
	margin: 3px 0 18px;
}

/*NAV*/

.navbar {
	font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
	background-color: #1C3973;
	min-height: 70px;
	font-size: 20px;
	padding-top: 8px;
	border-color: rgba(0, 0, 0, 0);
	color: #fff;
}

.navbar-brand {
	font-size: 30px;
	padding-top: 5px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
	padding: 9px 13px;
	border-radius: 3px;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #112D64;
}

ul.nav.navbar-nav.navbar-right {
	margin-top: 7px;
}

.sub-brand {
	font-family: 'Open Sans', sans-serif;
	color: #e5e5e5;
	font-size: 15px;
	float: right; 
	margin-top: 23px;
	margin-left: -100px;
	font-weight: 100;
}

.navbar-inverse .navbar-brand {
	color: #FFFFFF;
	font-weight: 600;
}
/*RIBBON*/

.ribbon {
	max-width: 800px;
	background: #4A81EE;
	margin: 70px auto 100px;
	padding: 20px 0 30px;
	position: relative;
}

.ribbon:before {
	content: url(../img/ribbon-before.png);
	position: absolute;
	bottom: -40px;
	left: -57px;
}

.ribbon:after {
	content: url(../img/ribbon-after.png);
	position: absolute;
	bottom: -40px;
	right: -56px;
}

#title-header {
	text-align: center;
	h1, h3 {
		position: relative;
		margin: 0;
	}
}

/*SOCIAL*/

.social {
	width: 300px;
	float: right;
}

/*PERSONS*/

@media screen and (min-width: 992px) {
	.col-md-2 {
		width: 20%;
	}
}

.caption {
	text-align: center;
}

.caption a {
	background: #4A81EE;
	color: #fff;
	padding: 7px;
	border-radius: 3px;
}

.caption a:hover {
	background: #4AC2EE;
	text-decoration: none;
}

/*PREGUNTAS*/

.preguntas a {
	width: 100%;
	padding: 10px 0px 20px;
}

.btn-primary {
	background-color: #4A81EE;
	border-color: rgba(46, 109, 164, 0);
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #4AC2EE;
	border-color: rgba(23, 55, 82, 0);
}

.preguntas.col-md-6.col-sm-12 {
	margin: 10px 0 40px;
}

.well {
	background: #1C3973;
	color: #fff;
	border: none;
}


.fa.pull-right {
margin-left: .3em;
}

.banner-footer {
	background-color: grey;
	min-height: 200px;
	text-align: center;
	h4 {
		color: black;
		font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
	}
}

footer {
	background-color: #1C3973;
	color: #fff;
	min-height: 140px;
	padding-top: 50px;
	margin-top: 50px;
.footer-info {
		padding-top: 16px;
}
}